#header {
  padding: 1.2rem 1.2rem 0;
  height: 16.2rem;
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
}

#nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    max-height: 15rem;

    a {
      display: inline-block;
      max-height: 9.6rem;
    }
  }
}
