.card {
  padding: 2.1rem;
  width: 100%;
  padding: 1.8rem;

  .card-header {
    margin-top: 0;
  }
}

@media screen and (min-width: 36em) {
  .card {
    max-width: 48rem;
  }
  .card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.2rem;

    .span-2 {
      grid-column-start: span 2;
    }
  }
}
